<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="/assets/res/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/res/favicon.svg" />
<link rel="shortcut icon" href="/assets/res/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/res/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Bible By Example" />
<link rel="manifest" href="/assets/res/site.webmanifest" />

<!-- Alfa Slab One from Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

<!-- end custom head snippets -->
